<footer class="navbar navbar-expand-lg bg-light" >
    <div class="container-fluid" style="background-color: #102F45 ;height: 210px;">
        <div class="container">
            <div class="row justify-content-center" >
                <div class="align-items-center col-md-3">
                    <h5 style="color: white;">
                        <span>
                            LOCATION
                        </span> 
                        <br>
                        <br>
                        <span class="lead">2215 John Daniel Drive</span>
                        <br>
                        <span class="lead">Clark, MO 65243</span> 
                    </h5>
                </div>
                <div class="align-items-center col-md-3">
                    <h5 class="lead" style="color: white;">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                    </h5>
                </div>
                <div class="align-items-center col-md-3">
                    <h5 style="color: white;">
                        <span>
                            <h4 class="text-uppercase mb-4">About Freelancer</h4>
                        </span> 
                        
                        <p class="lead mb-0">
                            Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
                        <br>
                        
                    </h5>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright py-4 text-center text-white" style="background-color: #041723">
    <div class="container"><small>Copyright © Your Website 2022</small></div>
</div>