
<nav class="navbar navbar-expand-lg bg-light" >
    <div class="container-fluid" style="background-color: #102F45 ;height: 110px;">
      <a class="navbar-brand" ><span [ngClass]="'fontcolor'" routerLink="start">START ANGULAR</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="navbar-nav mb-2 mb-lg-0 ml-auto justify-content-end" >

                <li class="nav-item">
                  <a class="nav-link"  routerLink="portfolio" routerLinkActive="act"><span [ngClass]="'fontcolor'">Portfolio</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="about" routerLinkActive="act"><span [ngClass]="'fontcolor'">about</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="contact" routerLinkActive="act"><span [ngClass]="'fontcolor'">contact</span></a>
                </li>
              </ul>
        </div>
        
        
      </div>
    </div>
  </nav>



