<div class="d-flex align-items-center flex-column" style="background-color: rgb(249, 251, 251) ; width: 100%; height: 100%;">
    <br>
    <br>
    <h1>CONTACT ME</h1>
    <br>
        <div class="column">
          <img src="../../assets/collection-2.jpg">
        </div>
    <br>
    <form>
        <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2" >
            <div class="column">
                
                <div class="form-group floating-label-form-group controls mb-0 pb-2" style="width: 200%;">
                    <input class="form-control" type="text" required="required" placeholder="Name">
                </div>
                
            <br>
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="width: 200%;">
                <input class="form-control" type="email" required="required" placeholder="Email Address">
            </div>
            <br>
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="width: 200%;">
                <input class="form-control" type="text" required="required" placeholder="Phone Number">
            </div>
            <br>
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="width: 200%;">
                <input class="form-control" type="text" required="required" placeholder="Message">
            </div>
            
        </div>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-success btn-xl" type="submit">Send</button>
        </div>
    </div>
    </form>
    
    <br>
    
    
</div>